.wrapper {
    margin: auto;
    font-family: "Arial";
}
.b1{
    width: 50px;
    display: inline-block;
    background-color: grey;
    vertical-align: top;
    margin-right: -5px;
    height: 100vh;
}
.b1-inner{
    margin-top: 56px;
}
.b2{
    width: calc(100vw - 70px); 
    display: inline-block;
    position: relative;
}
.navbar{
    position: absolute;
    background-color: grey;
}
/* Change color on hover */
.b1 a:hover{
    background-color: #000;
}
/* Change color on selected icon */
.selected {
    background-color: black; 
}
.my-canvas{
    height: calc(100vh - 70px );
    width: calc(100vw - 70px);
    border: 3px solid #000000;
    display: inline-block;
    z-index: 1;
    position: relative;
}
.my-canvas-bg{
    position: absolute;
    top:56px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
#img-data-div{
    width: 100%;
    max-width: 900px;
    height: 200px;
}
.icons{
    width: 50px;
    height: 50px;
}
.nav-icons{
    height: 25px;
    width: 25px;
}
.logo{
    width: 25px;
    height: 25px;  
}
.shape-dropdown-content{
    display: none;
    width: 110px;
    position: absolute;
    background-color: gray;
    margin-left: -1px;
    z-index: 3;
}
.shape-dropdown-content a{
    padding-top: 10px;
    padding-bottom: 11px;
}
#shape-dropdown:hover .shape-dropdown-content{
    display: inline-block;
}
.color-dropdown-content{
    display: none;
    width: 135px;
    position: absolute;
    background-color: gray;
    margin-left: -1px;
    z-index: 3;
}
.color-dropdown-content a{
    padding-top: 10px;
    padding-bottom: 11px;
    float: left;
    width: 20px;
    height: 20px;
    margin: 6px;
    border: 1px solid black;
}
.color-dropdown:hover .color-dropdown-content{
    display: inline-block;
}
.color-slider{
    margin-left: 12px;
}
.slider-amount{
    padding-left: 40%;
}
.size-dropdown-content{
    display: none;
    height: 50px;
    position: absolute;
    background-color: gray;
    margin-left: -1px;
    z-index: 2;
}
.size-dropdown:hover .size-dropdown-content{
    display: inline-block;
}
.temp-img{
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px dashed #000000;
    z-index: 100;
}
#width{
    width: 4em;
}
#height{
    width: 4em;
}